//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//
TARGET = 0477
#include "PreConfig.xcconfig"
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话:(15894954100) 团购合作:(15894954100)"
Weibo       = weibo.com/u/3919347006
Host        = www.0477t.com
ProductDisplayName = 0477团
Protocol    = http


// 分享组件的Key
WeChatAppID =
SinaWeiboKey =2021332424
SinaWeiboSecret =6a8e4ff01f2236ad7802b8fe9c01feb6
SinaWeiboRedirectPath = laniqu.com
QZoneAppID  =100582722
QZoneAppSecret  = 179b85517638e9ea819ded942dd2f96b

UmengKey    = 5340d62156240b5a26125b00

#include "PostConfig.xcconfig"
