//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = 52shousuo
BundleIdentifier = com.app.${TARGET}
Theme       = pink
DetailInfo  = "客服电话: （0532-82275858）   团购合作：（18354252752）"
Weibo       = weibo.com/52sousuo
Host        = www.52sousuo.com
ProductDisplayName = 52搜索网
Protocol    = http


UmengKey    = 532a7c7a56240b0cf60a6f72

#include "PostConfig.xcconfig"
