//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = anrui
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: 0577-66889118"
Weibo       = weibo.com/ruiantuan
Host        = www.ruiantuan.com
ProductDisplayName = 瑞安团
Protocol    = http

// 分享组件的Key
WeChatAppID = wxcd5548b048902ca1
SinaWeiboKey = 2031420615
SinaWeiboSecret = 11a886d8d05f5e86ddf3659e2ae2c97f
SinaWeiboRedirectPath = laniqu.com
QZoneAppID  =   801019165
QZoneAppSecret  = d954f3ea957fcf20a4de57273ad6b870

UmengKey    = 52097fe756240bdeb600525d

#include "PostConfig.xcconfig"
