//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = batuan
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "服电话: （4000470478）   团购合作：（0478-8240200）"
Weibo       = weibo.com/0478tg
Host        = www.0478g.com
ProductDisplayName = 巴团网
Protocol    = http

// 分享组件的Key
WeChatAppID = 
SinaWeiboKey = 
SinaWeiboSecret = 
SinaWeiboRedirectPath = 
QZoneAppID  =   
QZoneAppSecret  = 

UmengKey    = 52ce4f3f56240b175a045ec2

#include "PostConfig.xcconfig"
