//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = bazhong
PRODUCT_NAME = bazhong
BundleIdentifier = com.app.${TARGET}
Theme       = pink //pink//blue//red//orange
DetailInfo  = "客服电话:0827-3339305      团购合作：18808271770"
Weibo       = t.qq.com/bazhongtuan
Host        = www.bazhongtuan.com
Protocol    = http
ProductDisplayName = 巴中团

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    = 53b6819956240b45e403f6be

#include "PostConfig.xcconfig"
