//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = dazhoushan
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: （0580-2282227）   团购合作：（0580-2181）"
Weibo       = e.weibo.com/dazhoushantuangou
Host        = mall.dazhoushan.com
ProductDisplayName = 大舟山商城
Protocol    = http

// 分享组件的Key
WeChatAppID = c13a514fa057b9916755bdf695bf1b8a
SinaWeiboKey = 1609274697
SinaWeiboSecret = d081c66c44395c62423746b6e0fff705
SinaWeiboRedirectPath = xx.com
QZoneAppID  =   100489427
QZoneAppSecret  = 44181e0bcf055883362a69f3cfaea334

UmengKey    = 5209a3ba56240b7b7c002a15

#include "PostConfig.xcconfig"
