//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = demofw
BundleIdentifier = com.app.${TARGET}
Theme       = red //pink//blue//red
DetailInfo  = "客服电话: 0417-2259696     团购合作：0417-2259695"
Weibo       = weibo.com/u/2214293942
Host        = www.tuanln.com
Protocol    = http
ProductDisplayName = 众团网

// 分享组件的Key
WeChatAppID = wx9702a1ce25aad213
SinaWeiboKey = 541775917
SinaWeiboSecret      = 44515addc39af63cadc26744a5ec07e3
SinaWeiboRedirectPath = ${Protocol}://${Host}/Index/qqcallBack
QZoneAppID  = 1101743577
QZoneAppSecret       = mh5KYcnYp5ojwd2r
QQConnectScheme = QQ41AB45D9
AppForPlat = "fw"

#include "PostConfig.xcconfig"
