//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = doumi
BundleIdentifier = com.app.${TARGET}
Theme       = blue //pink//blue//red//orange
DetailInfo  = "客服电话: 13807937915     团购合作：13807937915"
Weibo       = 
Host        = www.doumicc.com
Protocol    = http
ProductDisplayName = 豆米团购

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    = 53b67e8b56240b45d303f23c

#include "PostConfig.xcconfig"
