//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = fuqing
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: （85236228）   团购合作：（85236228）"
Weibo       = weibo.com/520fuqing
Host        = tg.fqlook.cn
ProductDisplayName = 福清团购
Protocol    = http

// 分享组件的Key
WeChatAppID = 
SinaWeiboKey = 
SinaWeiboSecret = 
SinaWeiboRedirectPath = 
QZoneAppID  =   
QZoneAppSecret  = 

UmengKey    = 52799cf456240b79e404f4fe

#include "PostConfig.xcconfig"
