//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = hanchuang
BundleIdentifier = com.app.${TARGET}
Theme       = blue //pink//blue//red//orange
DetailInfo  = "客服电话:18671231311      团购合作：18671231311"
Weibo       = 
Host        = www.hcwtg.com
Protocol    = http
ProductDisplayName = 汉川网团购

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
