//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = huishenghuo
BundleIdentifier = com.app.${TARGET}
Theme       = blue //pink//blue//red//orange
DetailInfo  = "客服电话:027-88165581      团购合作：13598596966"
Weibo       = 
Host        = www.dechikeji.com
Protocol    = http
ProductDisplayName = 惠生活

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
