//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = jiaozhou
BundleIdentifier = com.app.${TARGET}
Theme       = pink //pink//blue//red//orange
DetailInfo  = "客服电话: 86865017     团购合作：86865017"
Weibo       = 
Host        = www.jiaozhoushop.com
Protocol    = http
ProductDisplayName = 胶州购物网

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
