//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by ibcker on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = jinzhou
BundleIdentifier = com.app.${TARGET}
Theme       = red //pink//blue//red//orange
DetailInfo  = "客服电话:0915-8277666      团购合作：18809152800"
Weibo       = 
Host        = www.jz0915.com
Protocol    = http
ProductDisplayName = 金州团购网

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
