//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = kuiwo
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = 
Weibo       =
Host        = www.kuiwo.com
ProductDisplayName = 亏我网
Protocol    = http

// 分享组件的Key
WeChatAppID = 
SinaWeiboKey = 
SinaWeiboSecret = 
SinaWeiboRedirectPath = 
QZoneAppID  =   
QZoneAppSecret  =

UmengKey    = 52aaa48a56240b08a3006d26

#include "PostConfig.xcconfig"
