//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = laniqu
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: 0762-2222255     团购合作：0762-3886006"
Weibo       = weibo.com/wwwlaniqucom
Host        = www.laniqu.com
Protocol    = http
ProductDisplayName = 拉你去团购

// 分享组件的Key
WeChatAppID = wx49247ffbc6d2d5b9
SinaWeiboKey = 2031420615
SinaWeiboSecret      = 11a886d8d05f5e86ddf3659e2ae2c97f
SinaWeiboRedirectPath = example.com
QZoneAppID  = 100476523
QZoneAppSecret       = 52ecfe62410ecfa182646777af16658d

UmengKey    = 526524c156240b0b6d02341d

#include "PostConfig.xcconfig"
