//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = linai
BundleIdentifier = com.app.${TARGET}
Theme       = orange //pink//blue//red//orange
DetailInfo  = "客服电话:  18093071572    团购合作：18093071572"
Weibo       = 
Host        = www.02tuang.com
Protocol    = http
ProductDisplayName = 临爱团购网

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
