//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = liren
BundleIdentifier = com.app.${TARGET}
Theme       = blue //pink//blue//red//orange
DetailInfo  = "客服电话:  0578-8132121    团购合作：15395786966"
Weibo       = 
Host        = www.lirentuan.cn
Protocol    = http
ProductDisplayName = 丽人团

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
