//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = maila
BundleIdentifier = com.app.${TARGET}
Theme       = red //pink//blue//red//orange
DetailInfo  = "客服电话:      团购合作："
Weibo       = 
Host        = tuan.buyla.cn
Protocol    = http
ProductDisplayName = 买啦团购

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
