//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = qingtuan
BundleIdentifier = com.app.qing
Theme       = blue
DetailInfo  = "客服电话: 4000-400-841    团购合作：4000-400-841"
Weibo       = e.weibo.com/u/1921766335
Host        = youngt.com
Protocol    = http
ProductDisplayName = 青团

// 分享组件的Key
WeChatAppID           = wxcd5548b048902ca1
SinaWeiboKey          = 2031420615
SinaWeiboSecret       = 11a886d8d05f5e86ddf3659e2ae2c97f
SinaWeiboRedirectPath = example.com
QZoneAppID            = 100718950
QZoneAppSecret        = 83ea0d9854951276907da59c4cd6b70f

UmengKey    = 51b030a956240b738f00a21b

#include "PostConfig.xcconfig"
