//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = qufu
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: 400-0626-537 团购合作电话:13854712456"
Weibo       =
Host        = www.qufutuan.com
ProductDisplayName = 曲阜团
Protocol    = http


// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret =
SinaWeiboRedirectPath = laniqu.com
QZoneAppID  =
QZoneAppSecret  =


UmengKey    = 52ce0dce56240bf72409bc53

#include "PostConfig.xcconfig"
