//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//

#include "PreConfig.xcconfig"
TARGET = shenghuo
BundleIdentifier = com.app.${TARGET}
Theme       = blue
DetailInfo  = "客服电话: （18128205338）   团购合作：（13542154245）"
Weibo       = weibo.com/u/3171445410
Host        = www.lifetg.com
ProductDisplayName = 生活购
Protocol    = http


// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret =
SinaWeiboRedirectPath = xx.xx
QZoneAppID  =
QZoneAppSecret  =

#include "PostConfig.xcconfig"
