//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = taizhou
BundleIdentifier = com.app.${TARGET}
Theme       = pink //pink//blue//red//orange
DetailInfo  = "客服电话: 400-6060-320     团购合作：400-6060-320"
Weibo       = /t.qq.com/tz1twb
Host        = www.tz1t.com
Protocol    = http
ProductDisplayName = 泰州1团

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
