//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = tiancheng
BundleIdentifier = com.app.${TARGET}
Theme       = pink //pink//blue//red
DetailInfo  = "客服电话: 0832-2180008    团购合作：18383263024"
Weibo       = weibo.com/0832tuan
Host        = www.njtctg.com
Protocol    = http
ProductDisplayName = 甜城团购网

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    = 5343614e56240b1ee600201c

#include "PostConfig.xcconfig"
