//
//  ConstantsConfig.xcconfig
//  tuangouproject
//
//  Created by stcui on 13-6-18.
//
//  umpay http://116.112.3.158:9011/app/api.php

#include "PreConfig.xcconfig"
TARGET = zhongchehui
BundleIdentifier = com.app.${TARGET}
Theme       = blue //pink//blue//red//orange
DetailInfo  = "客服电话: 4009908290     团购合作：4009908290"
Weibo       = 
Host        = www.zhongchehui.com
Protocol    = http
ProductDisplayName = 众车汇

// 分享组件的Key
WeChatAppID =
SinaWeiboKey =
SinaWeiboSecret      =
SinaWeiboRedirectPath = example.com
QZoneAppID  =
QZoneAppSecret       =

UmengKey    =

#include "PostConfig.xcconfig"
